.center-flex {
    display: flex;
    align-items: center;
    gap: 5px;
}

.break-on-mobile {
    display: flex;
}

@media screen and (max-width: 800px) {
    .break-on-mobile {
        display: block;
    }
}

/* PC only content */
.pc-only {
    display: inline;
}

@media screen and (max-width: 800px) {
    span.pc-only {
        display: none;
    }
}

/* Mobile only content */
.mobile-only {
    display: none;
}

@media screen and (max-width: 800px) {
    span.mobile-only {
        display: inline;
    }
}

/* progress */
.progress-wrapper {
    width: 100%;
    height: 4px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: var(--highlight-color);
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}