@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Ubuntu', serif;
}

header,
footer,
section {
    margin: 0 auto;
    max-width: 700px;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
}

button.noborder,
button {
    height: 30px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}

button.noborder {
    border: 0;
}

a {
    color: black;
    cursor: pointer;
}

hr {
    border: none;
    border-bottom: 1px solid black;
}