/* color */
input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 48px;
    height: 48px;
    justify-self: center;
    display: block;
}

input[type="color"]::-moz-color-swatch,
input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
    border: 1px solid var(--border-color);
}

/* text */
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="text"] {
    background-color: var(--field-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 15px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    margin-bottom: 5px;
    font-family: var(--font);
    width: calc(100% - 45px);
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="text"]:focus {
    border-color: var(--highlight-color);
}

/* select */
select {
    background-color: var(--field-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 15px;
    padding: 10px 20px;
    outline: none;
    width: 50%;
    font-family: var(--font);
    transition: 0.3s background-color, 0.3s border-color;
    cursor: pointer;
}

select:hover {
    border-color: var(--highlight-color);
}

/* range */

input[type="range"] {
    -webkit-appearance: none;
    width: 50%;
    height: 6px;
    background: var(--border-color);
    border-radius: 5px;
    outline: none;
    transition: background 0.3s;
    margin-bottom: 15px;
}

input[type="range"]:hover {
    background: var(--highlight-back);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--highlight-color);
    cursor: e-resize;
    border: 2px solid var(--card-color);
    transition: background 0.3s, transform 0.3s;
}

input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.1);
    background: var(--highlight-color);
}

input[type="range"]::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--highlight-color);
    cursor: e-resize;
    border: 2px solid var(--card-color);
    transition: background 0.3s, transform 0.3s;
}

input[type="range"]::-moz-range-thumb:hover {
    transform: scale(1.1);
    background: var(--highlight-color);
}

input[type="range"]::-moz-range-track {
    height: 6px;
    background: var(--border-color);
    border-radius: 5px;
}