:root {
    --background-color: #242424;
    --card-color:#393939;
    --field-color: #464646;
    --border-color: #666666;
    --text-color: #cccccc;
    --icon-color: #ffffff;
    --title-color: #ffffff;
    --highlight-color: #50d3ff;
    --highlight-back: #50d3ff44;
    --warning-color: #ff7474;
    --warning-back: #ff505044;

    --font: 'Verdana';

    --wallpaper: url('');
    --wallpaper-blur: 0px;
}