details {
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
    border: 1px solid transparent;
    max-height: 50px;
}

details[open] {
    background-color: var(--card-color);
    border: 1px solid var(--border-color);
    max-height: 500px;
    padding: 10px 10px 20px;
    overflow: scroll;
}

details summary {
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1em * var(--font-size));
}

details summary div {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

details summary:hover {
    color: var(--highlight-color);
    background-color: var(--highlight-back);
}

button.danger-button {
    border: 1px solid var(--warning-color);
    border-radius: 15px;
    background: linear-gradient(90deg, var(--warning-color) 0%, var(--warning-color) 50%, transparent 50%, transparent 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: var(--warning-color);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    cursor: pointer;
    transition: background-position 2s ease-in, color 2s, box-shadow 1.5s;
}

button.danger-button:active {
    color: var(--card-color);
    animation: shake 0.1s infinite 1s ease-in-out;
    background-position: 0 0;
    box-shadow: 0px 0px 10px 2px var(--warning-color), 0px 0px 100px 10px var(--warning-color);
}

@keyframes shake {
    0%   { transform: translate(2px , 2px) ; }
    25%  { transform: translate(-2px, 0px) ; }
    50%  { transform: translate(2px , -2px); }
    75%  { transform: translate(-2px, 0px) ; }
    100% { transform: translate(2px , 2px) ; }
}