@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0');

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font);

    background-image: var(--wallpaper);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    background-attachment: inherit;
    filter: blur(var(--wallpaper-blur)) brightness(var(--wallpaper-brightness)) ;
    z-index: -1;
}

.document{
    background-color: var(--doc-bg);
    padding: 10px;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    z-index: 2;
    margin-top: 10px;
}

h1,h2 {
    font-weight: 500;
}

h1 {
    font-size: calc(1.5em * var(--font-size));
}

h2 {
    font-size: calc(1.1em * var(--font-size));
}

.main {
    background-color: var(--card-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--border-color);
    border-radius: 15px;
    padding: 10px;
    max-width: 800px;
    width: calc(100% - 40px);

    transition: width 1s, height 1s, background-color 1s, border-color 1s;
}

details {
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
    border: 1px solid transparent;
    transition: max-height 0.3s, padding 0.3s, background-color 0.5s, border 0.5s;
    max-height: 50px;
}

details[open] {
    background-color: var(--card-color);
    border: 1px solid var(--border-color);
    max-height: 500px;
    padding: 10px 10px 20px;
    overflow: scroll;
}

details summary {
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1em * var(--font-size));
}

details summary div {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

details summary:hover {
    color: var(--highlight-color);
    background-color: var(--highlight-back);
}

.button-bar {
    display: flex;
    gap: 5px;
    transition: gap 1s;
}

.todo-list {
    max-height: calc(100vh - 100px);
    overflow: scroll;
}

a {
    color: var(--highlight-color);
    font-size: calc(1em * var(--font-size));
    text-decoration: none;
    border-radius: 3px;

    background: linear-gradient(90deg, var(--highlight-back) 0%, var(--highlight-back) 50%, #00000000 50%, #00000000 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: 500ms padding, 200ms background-position;

    outline: none;
    border: none;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
}   

a:hover {
    background-position: 0 0;
    padding-left: 5px;
    padding-right: 5px;
}

hr {
    border: none;
    border-bottom: 1px solid var(--border-color);
}

.large-icon,
.icon {
    font-size: large;
    font-family: "Material Symbols Outlined";
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.large-icon {
    font-size: xx-large;
}

button {
    font-family: var(--font);
}

.icon-button {
    font-size: x-large;
    font-family: "Material Symbols Outlined";
    background: transparent;
    color: var(--icon-color);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.icon-button:hover {
    color: var(--highlight-color);
}

.edit-button:hover {
    animation: pencil-rotate 0.8s ease-in-out forwards;
}

.delete-button:hover {
    background-color: var(--warning-back);
    color: var(--warning-color);
}

.create-button:hover {
    color:var(--highlight-color);
    animation: rotate-text 0.5s ease-in-out;
}

.add-subitem-button:hover {
    color:var(--highlight-color);
    animation: rotate-text 0.5s ease-in-out;
}

.todo-item {
    margin: 5px 0;
    transition: padding 1s;
}

.todo-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.todo-item-content:hover {
    background-color: var(--field-color);
}

.subitem-container {
    margin-left: 0;
    padding-left: 0;
    display: block;
}

.todo-subitem {
    border-left: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    margin-left: 12px;
    padding-left: 15px;
    min-height: 31px;
}

.todo-subitem .todo-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.todo-subitem .button-div {
    display: none;
    justify-content: flex-end;
    gap: 5px;
}

.todo-subitem:active .button-div,
.todo-subitem:hover .button-div {
    display: flex;
}

.todo-subitem label {
    flex: 1;
    margin-left: 10px;
    max-width: calc(100% - 30px);
    overflow: hidden;
}

.todo-subitem label,
.todo-item-content label {
    flex: 1;
    margin-left: 10px;
    max-width: calc(100% - 30px);
    overflow: hidden;
}

label {
    font-size: calc(1em * var(--font-size));
}

.button-div {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

input[type="checkbox"] {
    animation: pop-in 0.5s cubic-bezier(0.25, 1.25, 1, 1);;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    background-color: transparent;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:hover {
    border-color: var(--highlight-color);
    border-width: 2px;
}

input[type="checkbox"]:checked {
    animation: pop-out 0.5s cubic-bezier(0.25, 1.25, 0.5, 1);
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
}

.title-box {
    background-color: transparent;
    color: var(--title-color);
    font-family: var(--font);
    font-size: calc(1.1em * var(--font-size));
    border: none;
    outline: none;
    width: calc(100% - 5px);
    border-radius: 5px;
    transition: background-color 0.3s, margin-bottom 1s;
}

.title-box:focus,
.title-box:hover {
    background-color: var(--field-color);
}

@media screen and (max-width: 800px) {
    body {
        font-size: calc(1.1em * var(--font-size));
    }

    .main {
        height: calc(100% - 50px);
        max-width: initial;
        background-color: transparent;
        border-color: transparent;
    }

    .button-bar {
        position: fixed;
        bottom: 0px;
        width: calc(100% - 30px);
        padding: 20px 0px;
        justify-content: end;
        gap: 20px
    }

    .title-box {
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .todo-item {
        padding-bottom: 20px;
    }

    .create-button {
        background: var(--highlight-back);
        color: var(--highlight-color);
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }
} 

@keyframes pop-in {
    0% { transform: scale(0.8); }
    50% { transform: scale(0.2); }
    100% { transform: scale(1.0); }
}

@keyframes pop-out {
    0% { transform: scale(0.4); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1.0); }
}

@keyframes rotate-text {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pencil-rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

button.text-button {
    border: 1px solid var(--border-color);
    border-radius: 15px;
    background-color: var(--card-color);
    color: var(--title-color);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

button.text-button:hover {
    background-color: var(--highlight-back);
    border-color: var(--highlight-color);
}

button.danger-button {
    border: 1px solid var(--warning-color);
    border-radius: 15px;
    background: linear-gradient(90deg, var(--warning-color) 0%, var(--warning-color) 50%, transparent 50%, transparent 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: var(--warning-color);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    cursor: pointer;
    transition: background-position 2s ease-in, color 2s, box-shadow 1.5s;
}

button.danger-button:active {
    color: var(--card-color);
    animation: shake 0.1s infinite 1s ease-in-out;
    background-position: 0 0;
    box-shadow: 0px 0px 10px 2px var(--warning-color), 0px 0px 100px 10px var(--warning-color);
}

@keyframes shake {
    0%   { transform: translate(2px , 2px) ; }
    25%  { transform: translate(-2px, 0px) ; }
    50%  { transform: translate(2px , -2px); }
    75%  { transform: translate(-2px, 0px) ; }
    100% { transform: translate(2px , 2px) ; }
}

/* __ SCROLL BARS _____________________________________________________________ */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

* {
    scrollbar-color: var(--border-color) transparent;
}