@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0');

body {
    background-color: #242424;
    color: #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    background-color: #242424;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 10px;
    max-width: 400px;
    width: calc(100% - 40px);

    transition: width 1s, height 1s, background-color 1s, border-color 1s;
}

.button-bar {
    display: flex;
    gap: 5px;
    transition: gap 1s;
}

.todo-list {
    max-height: calc(100vh - 100px);
    overflow: scroll;
}

.icon-button {
    font-size: x-large;
    font-family: "Material Symbols Outlined";
    background: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.icon-button:hover {
    color:#50d3ff;
}

.edit-button:hover {
    color:#50d3ff;
    animation: pencil-rotate 0.8s ease-in-out forwards;
}

.delete-button:hover {
    background-color: #ff505044;
    color: #ff7474;
}

.create-button:hover {
    color:#50ff99;
    animation: rotate-text 0.5s ease-in-out;
}

.move-up-button:hover {
    color:#50d3ff;
    transform: translateY(-5px);
}

.move-down-button:hover {
    color:#50d3ff;
    transform: translateY(5px);
}

.todo-item {
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: padding 1s;
}

.todo-item label {
    flex: 1;
    margin-left: 10px;
    max-width: calc(100% - 30px);
    overflow: scroll;
}

.button-div {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

input[type="checkbox"] {
    animation: pop-in 0.5s cubic-bezier(0.25, 1.25, 1, 1);;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #666;
    border-radius: 50%;
    background-color: #00000000;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:hover {
    border-color: #50d3ff;
    border-width: 2px;
}

input[type="checkbox"]:checked {
    animation: pop-out 0.5s cubic-bezier(0.25, 1.25, 0.5, 1);
    background-color: #50d3ff;
    border-color: #50d3ff;
}

.title-box {
    background-color: transparent;
    color: white;
    font-size: large;
    border: none;
    outline: none;
    width: calc(100% - 5px);
    border-radius: 5px;
    transition: background-color 0.3s, margin-bottom 1s;
}

.title-box:hover {
    background-color: #666;
}

@media screen and (max-width: 700px) {
    body {
        font-size: large;
    }

    .main {
        height: calc(100% - 50px);
        max-width: initial;
        background-color: transparent;
        border-color: transparent;
    }

    .button-bar {
        position: fixed;
        bottom: 0px;
        width: calc(100% - 30px);
        padding: 20px 0px;
        justify-content: end;
        gap: 20px
    }

    .title-box {
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .todo-item {
        padding-bottom: 20px;
    }

    .create-button {
        background: #50ff9933;
        color: #50ff99;
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }
} 

@keyframes pop-in {
    0% { transform: scale(0.8); }
    50% { transform: scale(0.2); }
    100% { transform: scale(1.0); }
}

@keyframes pop-out {
    0% { transform: scale(0.4); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1.0); }
}

@keyframes rotate-text {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pencil-rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
